// // div.post {
// //     border: 1px solid;
// //     margin: 5%;
// //     .title {
// //         display: flex;
// //         margin: 2%;
// //         font-style: italic;
// //         font-weight: bold;
// //     }
// //     .text{
// //         display: flex;
// //         flex-flow: column;
// //         margin-left: 10%;
// //         margin-right: 10%;
// //         // margin: auto;
// //     }
// // }

// // .comment {
// //     display: flex;
// //     flex-flow: column;
// //     margin-left: 10%;
// //     margin-right: 10%;
// //     border: 1px solid;
// //     margin-bottom: 1%;
// // }

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


// body{
//         background-image: url('../img/wave.jpg');
//             background-size: cover;
//             background-attachment: fixed;
// }

// main {
//     width: 90%;
//     margin:auto;
//     text-align: center;
// }

// section{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;
// }

// .post {
//     margin-top: 1em;
//     background-color: rgbA(103, 109, 109, .2);
//     text-align: center;
//     color: white;
//     width: 70%;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     word-break: normal;
//     backdrop-filter: blur(4px);
// }

// .postTitle {
//     color: aliceblue;
//     background-color: rgb(147, 157, 163, .3);
//     border-radius: 12px;
//     padding: 5px;
//     text-decoration: none;
//     transition: 700ms;
//     width: 80%;
//     margin: auto;
// }

// a, p, h1 {
//     color: white;
// }

// .postTitle:hover {
//     background-color: rgb(147, 157, 163, .7);
//     box-shadow: 0px 0px 10px rgb(255, 255, 255);
//     transition-property: background-color;
//     transition: 500ms;
// }

// .title {
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     color: aliceblue;
//     font-size: 50px;
//     width: 80%;

// }

// /* TODO:btns #newstories, #topstories, #jobs,#polls*/

// .comment {
//     margin: 30px;
//     text-align: start;
//     background-color: rgbA(103, 109, 109, .4);
//     padding: 30px;
//     color: white;
// }

// .by {
//     margin-right: 60%;
//     color: white;
// }

// .time {
//     text-align: end;
//     margin-right: 3%;
//     color: white;
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url('../img/back.jpg');
    // background-image: url("https://img.freepik.com/vecteurs-libre/contexte-realiste-particule-technologie-abstraite_23-2148431735.jpg?t=st=1702829903~exp=1702830503~hmac=b4ee6c2b6db03ef4a4d666c93cb19c4945e76cbb251d653cbdb54ac80974cf84");
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 90%;
    margin:auto;
    text-align: center;
}

section{
    display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
}

.post {
    margin-top: 1em;
    // background-color: rgbA(103, 109, 109, .2);
    background-color: rgbA(51, 204, 255, .2);
    text-align: center;
    color: white;
    width: 70%;
    border-radius: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: normal;
    backdrop-filter: blur(4px);
}

.postTitle {
    color: aliceblue;
    background-color: rgb(102, 153, 255, .3);
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
    transition: 700ms;
    width: 80%;
    margin: auto;
}

a, p, h1 {
    color: white;
}

.postTitle:hover {
    background-color: rgb(102, 153, 255, .7);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition-property: background-color;
    transition: 500ms;
}

.title {
    // font-family: Georgia, 'Times New Roman', Times, serif;
    // color: aliceblue;
    // font-size: 50px;
    // width: 80%;
    color: aliceblue;
    background-color: rgb(102, 153, 255, .3);
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
    transition: 700ms;
    width: 80%;
    margin: auto;
}

/* TODO:btns #newstories, #topstories, #jobs,#polls*/

 .comment {
    margin: 30px;
    text-align: start;
    border-radius: 60px;
    // background-color: rgbA(103, 109, 109, .4);
    background-color: rgbA(51, 204, 255, .4);
    padding: 30px;
    color: white;
}

.by {
    margin-right: 60%;
    color: white;
}

.time {
    text-align: end;
    margin-right: 3%;
    color: white;
} 